<div class="jumbotron">
    <h1> Welcome to building apps with Ruby on Rails</h1>
    <div class="text-center">
        <p>The framework that will help you build awsome enterprise applications...</p>
        <button class="btn btn-lg btn-success">check out why</button>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>10 reason should learn Ruby on Rails.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, libero, assumenda cum blanditiis laudantium obcaecati praesentium nesciunt! Quia, unde, tempora nihil doloremque ab perferendis earum.</p>
         <button class="btn btn-warning"> Learn more</button>  
    </div>
    <div class="col-md-4">
        <h2>Ruby the language </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, sit unde officia et ex omnis nesciunt cumque ipsum a eveniet dignissimos ut.</p>
        <button class="btn btn-warning">Learn More</button>
    </div>
    <div class="col-md-4">
        <h2>Are there any jobs?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, dolorum, architecto, totam, minima provident saepe consequuntur animi pariatur autem fugit reiciendis qui rerum.</p>
        <button class="btn btn-warning">Learn More</button>
    </div>
</div>